@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import './modules/core/settings.scss';
@import './modules/core/mq.scss';

body {
  background: linear-gradient(to right, #243b55, #141e30);
  font-family: "nunito", sans-serif;
  text-align: center;
}
.wrapper {
  height: 100%;
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
a {
  font-size: 36px;
  text-decoration: none;
  color: white;
}
a:hover  {
  color: white;
  background-color: transparent;
}
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.add-btn {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 25px;

}
.add-btn button {
  width: 145px;
  height: 50px;
}
h1 {
  font-size: 36px;
}
table {
  border-collapse: collapse;
  width: 80%;
  border-radius: 50px;
  margin: 10px;
  margin-top: 100px;

  th {
    font-size: 23px;
    color: white;
  }
  
  td,
  th {
    // border: 1px solid #afafaf;
    border-bottom: 2px solid rgba(75, 168, 70, 0.6);
    text-align: left;
    padding: 8px;
  }
  td {
    font-size: 15px;
  }
}
.td-btn {
  width: 80px;
}

.td-btn-to-upload button{
  width: 140px;
}

table img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

button {
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  width: 80px;
  height: 40px;
  background-color: #62c15d;
  border: none;
  color: white;
  cursor: pointer;

  &:disabled {
    background-color: #62c15d8e;
    cursor: inherit;
  }
}


// MODAL

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px;
  border-radius: 5px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
}

.modal-header,
.modal-footer,
.modal-header-checkbox {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}

.modal-header {
  color: black;
  font-size: 30px;
  flex-direction: column;
}
.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}
.modal-footer .btn-green, .modal-footer .btn-red {
  width: 100px;
  margin: 2px;
}

.btn-red {
  background: #d43f4e;

}
.modal-footer .btn-red {
  color: white;
  background: #d43f4e;
  width: 100px;
}


.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0;
}
.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity .5s ease;
}

label,
.modal-header h3 {
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  border: none;
  padding: 5px 0px;
  font-size: 15px;
  border-bottom: 2px solid rgba(98, 193, 93, 0.6);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.text-errors {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 12px;
  color: #d43f4e;
  margin-top: 3px;
}

.text-danger {
  font-size: 12px;
  color: #d43f4e;
  margin-top: 3px;
}

.is-invalid {
  border: none;
  padding: 5px 0px;
  font-size: 15px;
  border-bottom: 2px solid #d43f4e;
}


// Checkbox input

*{
  transition: 400ms all ease-in-out 50ms;
  box-sizing: border-box;
  backface-visibility: hidden;
  &::before, &::after {
    transition: 400ms all ease-in-out 50ms;
    box-sizing: border-box;
    backface-visibility: hidden;
  }
}

input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked ~ .test {
  background: rgba(73, 168, 68, 1);
  box-shadow: 0 0 2px rgba(73, 168, 68, 1);
  .checkbox-label {
    left: 17px;
    transform: rotate(360deg);
  }
}

.modal-header-checkbox, .checkbox-label {
  border-radius: 50px;
}

.modal-header-checkbox {
  margin-top: 10px;
  height: 20px;
  width: 60px;
  background: rgb(100, 100, 100);
  // position: absolute;
  // top: calc(50vh - 40px);
  // left: calc(50vw - 100px);
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(43, 43, 43, 1);
}

.checkbox-label {
  height: 23px;
  width: 23px;
  background: white;
  position: relative;
  top: -22px;
  left: -10px;
  cursor: pointer;
  &::before {
    content: '';
    height: 22px;
    width: 4px;
    position: absolute;
    top: 0px;
    left: 9px;
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    height: 4px;
    width: 21px;
    position: absolute;
    top: 9.5px;
    left: 1px;
    transform: rotate(45deg);
  }
  &::before, &::after {
    background: rgb(71, 71, 71);
    border-radius: 5px;
  }
}

input[type="checkbox"]:checked ~ .test .checkbox-label {
  &::before {
    height: 19px;
    top: 3px;
    left: 12px;
    background: rgba(73, 168, 68, 1);
  }
  &::after {
    width: 10px;
    top: 13px;
    left: 1px;
    background: rgba(73, 168, 68, 1);
  }
}


@include mq($from: small, $until: medium) {
  body {
    background-color: lightgreen;
  }
  table {
    width: 90%;
  }
  .add-btn {
    width: 90%;
  }
  h1 {
  }
  td {
  }
}

.message {
  color: red;    
}

.upload{
  color: white;
  text-align: left;
  font-size: 20px;
  list-style-type: none;
  margin-right: 20px;
}

.upload-btn {
  background-color: grey;
  width: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
  color: white;
  text-align: left;
}

.wrapper table {
  margin-bottom: 50px;
  width: 80vw;
}
.wrapper input {
  background: transparent;
}
.wrapper input[type="checkbox"] {
  display: inherit;
}
.wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.show_post {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.show_post img {
  width: 1000px;
  align-self: center;
}

.upload-img input{
  border: none;
}

.upload-img button {
  width: 140px;
}

#input3 {
  border: none;
}